alias ucon='/opt/forticlient-sslvpn/64bit/forticlientsslvpn_cli'
alias tmux="TERM=screen-256color-bce tmux"

alias v="vim"
alias sv="sudo vim"
alias vcfg="vim ~/.vimrc"
alias vma="vim ~/.dotfiles/.aliases"
alias vla="vim ~/.local_aliases"
alias vma='vim -c ":set syntax=sh" ~/.dotfiles/.aliases'
alias vla='vim -c ":set syntax=sh" ~/.local_aliases'

alias rstudio='rstudio-bin'

alias rs="rstudio . &>/dev/null &"

alias mka="cookiecutter ~/.cookiecutters/cookiecutter-data-science/"

alias t='tree'
alias tt='tree . -L 1'
alias ttt='tree . -L 2'
alias tttt='tree . -L 3'

alias cd..='cd ..'

alias mka='cookiecutter ~/.cookiecutters/cookiecutter-data-science/'
alias vh='vim .'
alias dfd='cd ~/.dotfiles'
alias ipy='ipython --TerminalInteractiveShell.editing_mode=vi'
alias g=git

alias ff='fzf-tmux'
alias f='fzf'

alias ll='ls -la --group-directories-first'

alias l='ls -l --group-directories-first --human-readable'


